html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "lora-regular", serif;
  overflow-x: hidden;
}

.header_section {
  height: 100vh;
}

.header_section .header_section_bg img {
  position: absolute;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.header_section .header_section_bg .overlay {
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.7;
  z-index: -1;
}

.header_nav {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.header_nav img {
  width: 100px;
}

.header_nav .header_nav_icon {
  width: 7.5rem;
  height: 3rem;
  font-size: 1rem;
  display: flex;
  position: fixed;
  right: 3rem;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s background-color;
  z-index: 150;
}

.header_nav .header_nav_icon span {
  color: #39b54a;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  font-family: "montserrat", sans-serif;
  transition: 0.7s color;
}

.header_nav .header_nav_icon span:hover {
  color: #ffffff;
}

.header_nav .header_nav_icon i {
  font-size: 35px;
}

.header_text {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 3rem 1.5rem 3rem 1.5rem;
  color: #ffffff;
  font-family: "montserrat", sans-serif;
}

.header_text .heading1 {
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2rem;
}

.header_text .heading2 {
  text-align: center;
  width: 20rem;
  margin: 0 1rem 0 1rem;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}

.header_text .header_buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.header_text .header_buttons button {
  width: 18rem;
  padding: 1rem 0;
  margin: 0.7rem auto;
  border-radius: 0;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-width: 0.1rem;
  transition: color 1.2s, background-color 1.2s;
}

.social_media {
  display: none;
}

.navbar {
  position: relative;
}

.navbar .navbar_data {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 18rem;
  padding: 2rem;
  margin-right: -18rem;
  background-color: #0c0c0c;
  font-family: "montserrat", sans-serif;
  z-index: 151;
  transition: 1s margin-right;
}

.navbar .navbar_data div {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar_data div a {
  color: #ffffff;
}

.navbar .navbar_data div span {
  color: #39b54a;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.navbar .navbar_data .navbar_items {
  list-style-type: none;
  padding: 0;
}

.navbar .navbar_data .navbar_items li {
  margin: 1rem auto;
}

.navbar .navbar_data .navbar_items li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar .navbar_data .navbar_text {
  margin-top: 3rem;
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.8rem;
  visibility: visible;
}

.navbar .navbar_data .navbar_social_media {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .navbar_data .navbar_social_media li {
  padding: 0 2rem 0 0;
}

.navbar .navbar_data .navbar_social_media li a {
  color: rgba(255, 255, 255, 0.25);
  transition: 1s color;
}

.navbar .navbar_data .navbar_social_media a:hover {
  color: #ffffff;
}

.show {
  margin-right: 0 !important;
}

.info {
  overflow: hidden;
}

.info .info_sub {
  background-color: #39b54a;
  width: 100vw;
  padding: 7rem 2.7rem 1rem 2.7rem;
  display: grid;
  place-items: center;
}

.info .info_sub .info_heading1 {
  font-family: "montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.info .info_sub .info_heading2 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.info .info_sub .info_heading2 hr {
  color: #ffffff;
  width: 100%;
}

.info .info_sub .info_text {
  font-family: "lora", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.info .info_sub .info_items {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.info .info_sub .info_items .info_item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.info .info_sub .info_items .info_item h2 {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.info .info_sub .info_items .info_item p {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  color: #0c0c0c;
  margin-bottom: 2rem;
}

.info .info_sub .info_items .info_item:last-child::after {
  display: none;
}

.feature {
  margin: 5rem 0;
}

.feature .feature_heading {
  margin: auto 1rem;
  font-family: "montserrat", sans-serif;
  text-align: center;
}

.feature .feature_heading h6 {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #39b54a;
}

.feature .feature_heading h2 {
  font-weight: 600;
  width: auto;
  max-width: 55rem;
  margin: 0 auto;
}

.feature .feature_heading hr {
  margin: 1rem auto 3rem auto;
  width: 70%;
  max-width: 30rem;
}

.feature .feature_items {
  margin: 0 1.5rem;
}

.feature .feature_items .feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;
}

.feature .feature_items .feature_item .feature_item_icon i {
  font-size: 2.5rem;
  color: #39b54a;
}

.feature .feature_items .feature_item .feature_item_info h4 {
  margin: 1.5rem auto;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.feature .feature_items .feature_item .feature_item_info p {
  font-family: "lora", sans-serif;
  color: #757575;
  max-width: 26rem;
  line-height: 1.8rem;
}

.projects .project_heading {
  font-family: "montserrat", sans-serif;
  padding: 3rem 2rem;
  background-color: #111111;
  height: 100vh;
  padding-top: 6rem;
  text-align: center;
}

.projects .project_heading h6 {
  color: #39b54a;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.projects .project_heading h1 {
  position: relative;
  color: #ffffff;
  font-weight: 600;
  font-size: calc(1.775rem + 0.1vw);
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.projects .project_heading hr {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50vw;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 30rem;
}

.projects .project_pictures {
  margin: -20rem 2rem 6rem 2rem;
  display: grid;
  font-family: "montserrat", sans-serif;
}

.projects .project_pictures .col .project_picture {
  position: relative;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #000000;
  opacity: 1;
  overflow: hidden;
}

.projects .project_pictures .col .project_picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: scale(1);
  transition: 1s transform, 1s opacity;
}

.projects .project_pictures .col .project_picture .project_picture_data {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.projects .project_pictures .col .project_picture .project_picture_data i,
.projects .project_pictures .col .project_picture .project_picture_data h6 {
  color: #ffffff;
}

.projects .project_pictures .col .project_picture .project_picture_data h6 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.projects .project_pictures .col .project_picture .project_picture_data p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 500;
}

.projects .project_pictures .col .project_picture .project_picture_data .fa-link {
  position: absolute;
  top: 2rem;
  left: 2.6rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s color, 0.5s background-color;
}

.projects .project_pictures .col .project_picture .project_picture_data .fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  transition: translate(-50%, -50%);
}

.projects .project_pictures .col .project_picture .project_picture_data .fa-link:hover {
  color: #000000;
  background-color: #ffffff;
}

.projects .project_pictures .col .project_picture .project_picture_data .project_picture_info {
  position: absolute;
  bottom: 1.5rem;
  left: 2.5rem;
}

.projects .project_pictures .col .project_picture .project_picture_data .project_picture_info h6 {
  margin: 0;
}

.projects .project_pictures .project_picture:hover img {
  transform: scale(1.1);
  opacity: 0.3;
}

.projects .project_pictures .project_picture:hover .project_picture_data {
  display: block;
}

.clients {
  background-color: #e6e6e6;
  margin: 8rem auto 0 auto;
  padding-top: 8rem;
  height: auto;
  text-align: center;
  font-family: "montserrat", sans-serif;
}

.clients h6 {
  color: #39b54a;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.clients h1 {
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: calc(1.775rem + 0.1vw);
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}

.clients .slider {
  margin: 4rem auto;
}

.clients .slider .glider {
  width: 100%;
  height: auto;
}

.clients .slider .glider .glider-track .glider-slide {
  padding: 0;
}

.clients .slider .glider .glider-track a {
  text-decoration: none;
  margin: 0;
  padding: 1rem 2rem;
}

.clients .slider .glider .glider-track a img {
  width: 100%;
  height: auto;
  max-width: 8rem;
}

.clients .slider .dots {
  margin-top: 2rem;
}

.clients .slider hr {
  width: 70%;
  max-width: 35rem;
  margin: 5rem auto;
  color: rgba(0, 0, 0, 0.5);
}

.clients .client_testimonials {
  position: relative;
}

.clients .client_testimonials .glider {
  width: 100% !important;
  height: auto;
}

.clients .client_testimonials .glider .glider-track {
  width: 300% !important;
}

.clients .client_testimonials .glider .glider-track .glider-slide {
  padding: 0;
  width: 100% !important;
}

.clients .client_testimonials .dots1 {
  padding-bottom: 2rem;
}

.clients .client_testimonials .glider-prev {
  position: absolute;
  top: 50;
  left: 5%;
  cursor: pointer;
}

.clients .client_testimonials .glider-next {
  position: absolute;
  top: 50;
  right: 5%;
  cursor: pointer;
}

.clients .client_testimonials .client_testimonial {
  margin: 2rem;
}

.clients .client_testimonials .client_testimonial p {
  font-family: "lora", sans-serif;
  font-size: calc(0.8rem + 1.2vw);
  max-width: 50rem;
  color: #555555;
  line-height: calc(2rem + 0.1vh);
  margin: auto;
}

.clients .client_testimonials .client_testimonial img {
  margin-top: 3rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.clients .client_testimonials .client_testimonial .client_testimonial_info {
  margin-top: 1rem;
}

.clients .client_testimonials .client_testimonial .client_testimonial_info span {
  font-family: "montserrat", sans-serif;
  display: block;
}

.clients .client_testimonials .client_testimonial .client_testimonial_info span:nth-child(1) {
  font-weight: 700;
}

.clients .client_testimonials .client_testimonial .client_testimonial_info span:nth-child(2) {
  font-size: 0.8rem;
  color: #757575;
  font-weight: 500;
}

.contact {
  background-image: url("../img/contact-bg.jpg");
  height: auto;
  position: relative;
  padding-top: 5rem;
}

.contact .contact_heading {
  text-align: center;
  font-family: "montserrat", sans-serif;
}

.contact .contact_heading h6 {
  color: #39b54a;
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.contact .contact_heading h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: calc(1.775rem + 0.1vw);
  max-width: 55rem;
  margin: 0.5rem auto 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}

.contact .contact_data {
  margin-top: 3rem;
  max-width: 40rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr;
}

.contact .contact_data .contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  font-family: "montserrat", sans-serif;
}

.contact .contact_data .contact_form h6 {
  color: #ffffff;
  padding: 3rem 0;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.contact .contact_data .contact_form form {
  width: 80%;
  margin: 0 auto;
  float: left;
}

.contact .contact_data .contact_form form input, .contact .contact_data .contact_form form textarea {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0 1rem 0;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s border-bottom, 0.2s color;
}

.contact .contact_data .contact_form form input:active, .contact .contact_data .contact_form form textarea:active, .contact .contact_data .contact_form form input:focus, .contact .contact_data .contact_form form textarea:focus {
  color: white;
  border-bottom: 0.5px solid #39b54a;
}

.contact .contact_data .contact_form form input:-webkit-autofill,
.contact .contact_data .contact_form form input:-webkit-autofill:hover,
.contact .contact_data .contact_form form input:-webkit-autofill:focus,
.contact .contact_data .contact_form form textarea:-webkit-autofill,
.contact .contact_data .contact_form form textarea:-webkit-autofill:hover,
.contact .contact_data .contact_form form textarea:-webkit-autofill:focus,
.contact .contact_data .contact_form form select:-webkit-autofill,
.contact .contact_data .contact_form form select:-webkit-autofill:hover,
.contact .contact_data .contact_form form select:-webkit-autofill:focus {
  -webkit-text-fill-color: #39b54a;
  transition: background-color 5000s ease-in-out 0s;
}

.contact .contact_data .contact_form form button {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border-radius: 0;
  background-color: #39b54a;
  border-color: #39b54a;
  margin: 0 auto;
  margin-top: 3rem;
  outline: none;
  transition: 0.5s background-color;
}

.contact .contact_data .contact_form form button:hover {
  background-color: rgba(57, 181, 74, 0.92);
}

.contact .contact_data .contact_info {
  font-family: "montserrat", sans-serif;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0rem 3rem;
}

.contact .contact_data .contact_info .contact_info_sub .contact_info_info {
  display: none;
  color: #ffffff;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.contact .contact_data .contact_info .contact_info_sub .contact_info_address {
  margin: 2rem auto;
}

.contact .contact_data .contact_info .contact_info_sub .contact_info_address span {
  color: #39b54a;
  font-weight: 700;
  font-size: 0.9rem;
}

.contact .contact_data .contact_info .contact_info_sub .contact_info_address p {
  color: rgba(255, 255, 255, 0.4);
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.contact .contact_data .contact_info .contact_info_sub ul {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
  padding: 0;
}

.contact .contact_data .contact_info .contact_info_sub ul li {
  margin: 0 1rem;
  text-align: center;
  list-style: none;
}

.contact .contact_data .contact_info .contact_info_sub ul li a {
  list-style: none;
  color: #ffffff;
  transition: 1s color;
}

.contact .contact_data .contact_info .contact_info_sub ul li a i {
  font-size: 1.2rem;
}

.contact .contact_data .contact_info .contact_info_sub ul li a:hover {
  color: #39b54a;
}

.subscribe {
  padding: 5rem 0;
  background-color: #111111;
  font-family: "montserrat", sans-serif;
}

.subscribe .subscribe_info {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 45rem;
}

.subscribe .subscribe_info .footer-logo {
  width: 100px;
  margin: 0 auto;
}

.subscribe .subscribe_info .footer-logo img {
  width: 100%;
  height: auto;
}

.subscribe .subscribe_info p {
  margin: 2rem 0;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe .subscribe_form {
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 45rem;
}

.subscribe .subscribe_form span {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
}

.subscribe .subscribe_form p {
  margin: 2rem 0;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe .subscribe_form form input, .subscribe .subscribe_form form button {
  display: block;
  width: 100%;
  border-radius: 0;
}

.subscribe .subscribe_form form input {
  margin: 1rem auto;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s color;
}

.subscribe .subscribe_form form input:active, .subscribe .subscribe_form form input:focus {
  color: white;
}

.subscribe .subscribe_form form input:-webkit-autofill,
.subscribe .subscribe_form form input:-webkit-autofill:hover,
.subscribe .subscribe_form form input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
  transition: background-color 5000s ease-in-out 0s;
}

.subscribe .subscribe_form form button {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 0;
  background-color: #39b54a;
  border-color: #39b54a;
  margin: 0 auto;
  outline: none;
  transition: 0.5s background-color;
}

.subscribe .subscribe_form form button:hover {
  background-color: rgba(57, 181, 74, 0.92);
}

.subscribe .subscribe_form form img {
  display: none;
}

.subscribe .copyright {
  color: rgba(255, 255, 255, 0.3);
  margin: 4rem auto 0 auto;
  text-align: center;
  max-width: 45rem;
}

.subscribe .copyright p {
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.8rem;
}

.subscribe .copyright span {
  color: #ffffff;
}

@media screen and (max-width: 420px) {
  .header_nav .header_nav_icon {
    width: 4rem;
    right: 1rem;
  }
  .header_nav .header_nav_icon span {
    display: none;
  }
  .header_text {
    padding: 3rem 0;
  }
}

@media screen and (min-width: 500px) {
  .header_text {
    display: block;
    padding: 3rem 1.5rem 3rem 3rem;
  }
  .header_text .heading1,
  .header_text .heading2 {
    width: auto;
    max-width: 26rem;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    font-weight: 700;
  }
  .header_text .heading2 {
    font-size: 2.1rem;
  }
  .header_buttons {
    align-items: flex-start;
    justify-content: flex-start;
    width: 55%;
    margin: 0 0rem;
  }
  .header_buttons button {
    width: 100%;
    margin: 0.7rem 0 !important;
  }
  .social_media {
    display: block;
    position: absolute;
    top: 12rem;
    right: 1rem;
    padding: 0;
    list-style-type: none;
  }
  .social_media li {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.13rem solid #ffffff;
  }
  .social_media li a i {
    margin: 0;
    padding: 1rem;
    font-size: 15px;
    color: #ffffff;
  }
}

@media screen and (min-width: 700px) {
  .header_text .heading2 {
    font-size: 2.6rem;
    max-width: 90%;
  }
  .header_buttons {
    flex-direction: row !important;
  }
  .header_buttons button {
    width: 12rem !important;
    font-size: 0.8rem;
  }
  .header_buttons button:first-child {
    margin-right: 1.5rem !important;
  }
}

@media screen and (min-width: 800px) {
  .header_text {
    padding: 3rem 2rem 3rem 8rem;
  }
  .header_text .heading2 {
    font-size: 3rem;
    width: 45rem;
  }
  .social_media {
    right: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .info_items .info_item::after {
    content: "";
    display: block;
    height: 1px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -125px;
  }
}

@media screen and (min-width: 575px) and (max-width: 1125px) {
  .info_items {
    position: relative;
  }
  .info_items::after {
    content: "";
    display: block;
    height: 45%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0;
    right: 50%;
  }
  .info_items::before {
    content: "";
    text-align: center;
    display: block;
    height: 45%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 0;
    right: 50%;
  }
}

@media screen and (min-width: 700px) {
  .info .info_sub .info_text {
    max-width: 950px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1126px) {
  .info_items .info_item::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 700px) {
  .feature .feature_heading hr {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .feature .feature_items .feature_item {
    flex-direction: row;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .feature .feature_items .feature_item .feature_item_icon {
    width: 50px;
    height: 50px;
  }
  .feature .feature_items .feature_item .feature_item_icon i {
    font-size: 3rem;
  }
  .feature .feature_items .feature_item .feature_item_info {
    height: 100%;
    width: 100%;
    margin-left: 2rem;
  }
  .feature .feature_items .feature_item .feature_item_info h4 {
    margin-top: 0;
  }
  .feature .feature_items .feature_item .feature_item_info p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1126px) {
  .feature .feature_items .feature_item {
    width: inherit;
  }
}

@media screen and (min-width: 500px) {
  .projects .project_heading h1 {
    font-size: calc(1.775rem + 1.5vw);
  }
}

@media screen and (min-width: 600px) {
  .projects .project_pictures {
    margin: -20rem 4rem 2rem 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .projects .project_pictures {
    margin: -20rem 4rem 2rem 4rem;
    grid-template-columns: 1fr 1fr;
  }
  .projects .project_pictures .project_picture .project_picture_data .fa-link {
    left: 1.5rem !important;
    top: 1rem !important;
  }
  .projects .project_pictures .project_picture .project_picture_data .fa-plus {
    top: 45% !important;
  }
  .projects .project_pictures .project_picture .project_picture_data .project_picture_info {
    left: 1.5rem !important;
    bottom: 1rem !important;
  }
}

@media screen and (max-width: 400px) {
  .slider {
    margin: 3rem auto !important;
  }
  .slider .glider a img {
    width: 100%;
    max-width: 7rem !important;
  }
}

@media screen and (min-width: 500px) {
  .clients h1 {
    font-size: calc(1.775rem + 1.5vw);
  }
  .clients .client_testimonials .client_testimonial p {
    max-width: 35rem;
    line-height: calc(1.8rem + 1.5vh) !important;
  }
  .slider .glider a img {
    width: 100%;
    max-width: 15rem;
  }
}

@media screen and (min-width: 800px) {
  .clients .client_testimonials .client_testimonial {
    margin: 2rem 3rem !important;
  }
  .clients .client_testimonials .client_testimonial p {
    max-width: 50rem;
    word-spacing: 0.1rem;
    line-height: calc(2.1rem + 1.5vh) !important;
    font-size: calc(0.8rem + 1.2vw) !important;
  }
}

@media screen and (min-width: 980px) {
  .clients .dots1 {
    display: none;
  }
}

@media screen and (min-width: 1125px) {
  .clients .glider-prev {
    left: 10% !important;
  }
  .clients .glider-next {
    right: 10% !important;
  }
}

@media screen and (max-width: 980px) {
  .client_testimonials .glider-next, .client_testimonials .glider-prev {
    display: none !important;
  }
}

@media screen and (min-width: 500px) {
  .contact .contact_heading h1 {
    font-size: calc(1.775rem + 1.5vw);
  }
}

@media screen and (min-width: 600px) {
  .contact {
    padding-bottom: 5rem;
  }
  .contact .contact_data {
    margin: 3rem;
  }
  .contact .contact_data .contact_form form {
    margin: 0 auto 0 3rem;
  }
  .contact .contact_data .contact_info {
    text-align: left;
  }
  .contact .contact_data .contact_info .contact_info_sub ul {
    justify-content: start;
    margin: 0 auto;
  }
  .contact .contact_data .contact_info .contact_info_sub ul li {
    margin: 0 2rem 0 0;
  }
}

@media screen and (min-width: 750px) {
  .contact .contact_data {
    margin: 3rem auto;
  }
}

@media screen and (min-width: 1000px) {
  .contact .contact_data {
    max-width: 900px;
    grid-template-columns: 60% 40%;
  }
  .contact .contact_data .contact_form h6 {
    width: 80%;
    float: left;
  }
  .contact .contact_data .contact_info {
    padding: 0 3rem;
    margin: 0;
    background-color: #111111;
  }
  .contact .contact_data .contact_info .contact_info_sub {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contact .contact_data .contact_info .contact_info_sub .contact_info_info {
    display: block;
  }
  .contact .contact_data .contact_info .contact_info_sub .contact_info_address {
    margin: 0;
  }
}

@media screen and (min-width: 500px) {
  .subscribe .subscribe_info .footer-logo {
    margin: 0;
  }
  .subscribe .subscribe_form form {
    position: relative;
  }
  .subscribe .subscribe_form form input, .subscribe .subscribe_form form button {
    display: unset;
    margin: 0;
    padding: 0;
    width: 60%;
  }
  .subscribe .subscribe_form form input {
    text-align: left;
    padding-left: 3.5rem;
  }
  .subscribe .subscribe_form form button {
    width: 30%;
  }
  .subscribe .subscribe_form form img {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 25px;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .subscribe .subscribe_info {
    max-width: 30rem;
    margin: 0 0 0 auto;
  }
  .subscribe_form {
    max-width: 30rem;
    margin: 0 auto 0 0;
    padding: 0.5rem 3rem 0 3rem !important;
  }
  .subscribe_form span {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */